---
layout: default
title: Arquivos para baixar
---
<div class="container">

    <div class="row">

        {% for download in site.data.downloads %}

        <div class="col-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ download.title}}</h5>
                    <p class="card-text">{{ download.description }}</p>
                    {% if download.external %}
                    <a class="card-link" target="_blank" href="{{ download.url }}">
                        <i class="fas fa-download"></i> Baixar
                    </a>
                    {% else %}
                    <a class="card-link" target="_blank" href="{{site.baseurl}}{{ download.url }}">
                        <i class="fas fa-download"></i> Baixar
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>