---
layout: home
---
<div class="container">

    <div class="row mb-3">
        <div class="col-sm text-center">
            <h2>Últimas Aulas</h2>
        </div>
    </div>
    <div class="row">
        {% for i in (1..3)%}
        {% assign index = site.aulas.size |  minus: i %}
        {% assign aula = site.aulas[index] %}

        <div class="col-sm">
            <div class="card">
                <img src="https://img.youtube.com/vi/{{ aula.video }}/0.jpg" class="card-img-top">
                <div class="card-body">
                    <span class="card-title">{{ aula.title}}</span>
                    <p>{{ aula.description }}</p>
                    <a class="card-link" href="{{site.baseurl}}{{ aula.url }}">Ver aula</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

    <div class="row mt-5 mb-3">
        <div class="col-sm text-center">
            <h2>Últimos artigos</h2>
        </div>
    </div>
    <div class="row mb-3">

        {% for post in site.posts limit:5 %}
        <div class="col-sm">

            <div class="card mb-3">

                <div class="no-gutters row">
                    <div class="col-md-4">
                        {% if post.image %}
                        <img src="{{site.baseurl}}/assets/images/{{post.image}}" class="card-img">
                        {% else %}
                        <img class="{{site.baseurl}}/assets/images/default-card.jpg" class="card-img">
                        {% endif%}
                    </div>
    
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{post.excerpt }}</p>
                            <a class="card-link" href="{{site.baseurl}}{{ post.url }}">Ler artigo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>