<footer class="footer w3-container w3-teal w3-center w3-margin-top">
	<p>Encontre-me nas redes sociais.</p>
	<div class="social">
		<ul>
			{% if site.twitter_username %}
				<li>
					<a href="https://www.twitter.com/{{ site.twitter_username }}" target="_new">
						<i class="fab fa-twitter w3-hover-opacity"></i>
					</a>
				</li>
			{% endif %}
		
			{% if site.linkedin_link %}
				<li>
					<a href="{{ site.linkedin_link }}" target="_new" >
						<i class="fab fa-linkedin w3-hover-opacity"></i>
					</a>
				</li>
			{% endif %}
			
			{% if site.xing_link %}
				<li>
					<a href="{{ site.xing_link }}" target="_new">
						<i class="fab fa-xing w3-hover-opacity"></i>
					</a>
				</li>
			{% endif %}
		
			{% if site.google_plus_link %}
				<li>
					<a href="{{ site.google_plus_link }}" target="_new">
						<i class="fab fa-google-plus w3-hover-opacity"></i>
					</a>
				</li>
			{% endif %}
		
			{% if site.facebook_link %}
				<li>
					<a href="{{ site.facebook_link }}" target="_new">
						<i class="fab fa-facebook w3-hover-opacity"></i>
					</a>
				</li>
			{% endif %}
		
			{% if site.github_username %}
				<li>
					<a href="https://github.com/{{ site.github_username }}" target="_new">
						<i class="fab fa-github-alt w3-hover-opacity"></i>
					</a>
				</li>
			{% endif %}
		
			{% if site.stackoverflow_link %}
				<li>
					<a href="{{ site.stackoverflow_link }}" target="_new">
						<i class="fab fa-stack-overflow w3-hover-opacity"></i>
					</a>
				</li>
			{% endif %}
		
			{% if site.instagram_username %}
				<li>
					<a href="https://www.instagram.com/{{ site.instagram_username }}" target="_new">
						<i class="fab fa-instagram w3-hover-opacity"></i>
					</a>
				</li>
			{% endif %}
		
			{% if site.reddit_username %}
				<li>
					<a href="https://www.reddit.com/u/{{ site.reddit_username }}" target="_new">
						<i class="fab fa-reddit-alien w3-hover-opacity"></i>
					</a>
				</li>
			{% endif %}
		
			<li>
				<a href="{{ site.baseurl }}/feed.xml" target="_new">
					<i class="fa fa-rss w3-hover-opacity"></i>
				</a>
			</li>
		</ul>
	</div>
</footer>

