<div class="w3-white w3-text-grey w3-card-4">
    <div class="w3-display-container">
        
        <div class="w3-container w3-text-teal">
            <h2><i class="fas fa-chart-bar"></i> Probabilidade e Estatística - Anotações</h2>
        </div>
    </div>
    <div class="w3-container">

        <p class="w3-center w3-large w3-text-teal">
			O curso base para estas anotações foi disponibilizado
			por uma parceria entre a Veduca e a USP, está disponível no 
			<a href="http://https://www.youtube.com/watch?v=ExpavHMRfoc&playlist?list=PLNgJJDWKupQm0LNowM7DoiAbYZjeIIA_R&index=2" target="_blank" rel="noopener noreferrer">Youtube</a>
			de forma gratuita.
        </p>
        <hr>
        
        <div id="menu">
            <ul>
                <li class="menu-item  w3-large w3-text-teal"><a href="{{ site.baseurl }}/" accesskey="1" title="Home"><i class="fas fa-home"></i> Home</a></li>
                <li class="menu-item  w3-large w3-text-teal"><a href="{{ site.baseurl }}/aulas" accesskey="2" title="Aulas"><i class="fas fa-chalkboard-teacher"></i> Aulas</a></li>			
                <li class="menu-item  w3-large w3-text-teal"><a href="{{ site.baseurl }}/referencias" accesskey="3" title="Referências"><i class="fas fa-book"></i> Referências</a></li>
            </ul>
        </div>
        <hr>
    </div>
</div><br>