<div id="wrapper2">
	<div class="title"></div>
	<div id="tools">
		<ul class="tools">
			{% if site.twitter_username %}
				<li>
					<a href="https://www.twitter.com/{{ site.twitter_username }}" target="_new">
						<i class="fab fa-twitter"></i>
					</a>
				</li>
			{% endif %}

			{% if site.linkedin_link %}
				<li>
					<a href="{{ site.linkedin_link }}" target="_new" >
						<i class="fab fa-linkedin"></i>
					</a>
				</li>
			{% endif %}
			
			{% if site.xing_link %}
				<li>
					<a href="{{ site.xing_link }}" target="_new">
						<i class="fab fa-xing"></i>
					</a>
				</li>
			{% endif %}

			{% if site.google_plus_link %}
				<li>
					<a href="{{ site.google_plus_link }}" target="_new">
						<i class="fab fa-google-plus"></i>
					</a>
				</li>
			{% endif %}

			{% if site.facebook_link %}
				<li>
					<a href="{{ site.facebook_link }}" target="_new">
						<i class="fab fa-facebook"></i>
					</a>
				</li>
			{% endif %}

			{% if site.github_username %}
				<li>
					<a href="https://github.com/{{ site.github_username }}" target="_new">
						<i class="fab fa-github-alt"></i>
					</a>
				</li>
			{% endif %}

			{% if site.stackoverflow_link %}
				<li>
					<a href="{{ site.stackoverflow_link }}" target="_new">
						<i class="fab fa-stack-overflow"></i>
					</a>
				</li>
			{% endif %}

			{% if site.instagram_username %}
				<li>
					<a href="https://www.instagram.com/{{ site.instagram_username }}" target="_new">
						<i class="fab fa-instagram"></i>
					</a>
				</li>
			{% endif %}

			{% if site.reddit_username %}
				<li>
					<a href="https://www.reddit.com/u/{{ site.reddit_username }}" target="_new">
						<i class="fab fa-reddit-alien"></i>
					</a>
				</li>
			{% endif %}

			<li>
				<a href="{{ site.baseurl }}/feed.xml" target="_new">
					<i class="fa fa-rss"></i>
				</a>
			</li>
		</ul>

	</div>
</div>