<div id="wrapper2">
	<div id="tools">
		<div class="title">
			<h2>Vivamus fermentum nibh</h2>
		</div>
		<ul class="tools">
			<li><a href="#" class="icon icon-legal"></a></li>
			<li><a href="#" class="icon icon-random"></a></li>
			<li><a href="#" class="icon icon-key"></a></li>
			<li><a href="#" class="icon icon-wrench"></a></li>
			<li><a href="#" class="icon icon-cut"></a></li>
			<li><a href="#" class="icon icon-filter"></a></li>
			<li><a href="#" class="icon icon-lock"></a></li>
		</ul>
	
	</div>
</div>