--- 
--- 

@charset 'UTF-8';

@import url(https://fonts.googleapis.com/css?family=Roboto);

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$green: #16A085;
$black6: rgba(0, 0, 0, .6);
$gray: #404040;
$white: #FFFFFF;

html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

.footer  {

	padding: 3em 0;

	.social {

		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
			
			
			li {
				display: inline;
				font-size: 32px;
				margin: 0 5px;;
	
				a:-webkit-any-link{
					text-decoration: none !important;
				}
			}
		}
	}
}
#menu {
	.menu-item a:-webkit-any-link{
		text-decoration: none !important;
	}

	ul {
		list-style-type: none;
		margin-left: 0px;
		padding-left: 0px;
	}
}

.w3-container{
	word-wrap: break-word;
} 
