---
layout: base
---
<div class="container mb-3">
    <div class="row">
        <div class="col-sm text-center">
            <h1>{{page.title}}</h1>
            <p class="subtitle">{{page.description}}</p>
        </div>
    </div>
</div>
<div class="container">

    <div class="card mb-3">

        <div class="card-body">
            {% include pagination_aulas.html %}

            {% assign videos_array = page.videos | split: " " %}
            {% include video.html videos=page.videos %}

            {{ content }}

            {% include pagination_aulas.html %}
        </div>
    </div>
</div>