---
---
<!DOCTYPE html>
<html>

{% include head.html %}

<body class="w3-light-grey">

  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

      <!-- Left Column -->
      <div class="w3-third">
        {% include left.html %}
        <!-- End Left Column -->
      </div>


      <!-- Right Column -->
      <div class="w3-twothird">
        {{ content }}
        <!-- End Right Column -->
      </div>

      <!-- End Grid -->
    </div>

    <!-- End Page Container -->
  </div>

  {% include footer.html %}

</body>

</html>