---
layout: base
---

<div class="container">

    <div class="card mb-3">

        {% if page.image %}
        <img src="{{site.baseurl}}/assets/images/{{page.image}}" class="card-img-top" alt="">
        {% else %}
        <img src="{{site.baseurl}}/assets/images/post_default.jpg" class="card-img-top" alt="">
        {% endif %}

        <div class="card-body">
            <h1 class="col text-center">{{page.title}}</h1>

            <p class="post-meta text-center">
                {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} •
                {{ page.author }}{% endif %}{% if page.meta %} •
                {{ page.meta }}{% endif %}
            </p>

            {{ content }}

        </div>
    </div>
</div>